/dts-v1/;
/plugin/;

/{
	compatible = "brcm,bcm2708";


    fragment@0 {
        target = <&leds>;
        __overlay__ {
            status = "okay";
            pinctrl-names = "default";
            pinctrl-0 = <&lumiere_pins>;

            stat1_led: stat1 {
                label = "stat1";
                gpios = <&gpio 26 0>;
                default-state = "off";
            };

            stat2_led: stat2 {
                label = "stat2";
                gpios = <&gpio 27 0>;
                default-state = "off";
            };

            projector_pd: pd {
                label = "projector_pd";
                gpios = <&gpio 12 1>;
                default-state = "on";
            };

            projector_pdo: pdo {
                label = "projector_pdo";
                gpios = <&gpio 13 1>;
                default-state = "on";
            };

            projector_led: pled {
                label = "projector_led";
                gpios = <&gpio 19 0>;
                default-state = "off";
            };
        };
    };

	fragment@1 {
		target = <&gpio>;
		__overlay__ {
			lumiere_pins: lumiere_pins {
				brcm,pins = <12 13 19 26 27>;
				brcm,function = <1 1 1 1 1>; /* out */
				brcm,pull = <0 0 0 2 2>; /* off */
			};
		};
	};

   	fragment@2 {
		target = <&uart1>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&uart1_pins>;
			status = "okay";
		};
	};

	fragment@3 {
		target = <&gpio>;
		__overlay__ {
			uart1_pins: uart1_pins {
				brcm,pins = <40 41>;
				brcm,function = <2>; /* alt5 */
				brcm,pull = <0 2>;
			};
		};
	};

	fragment@4 {
		target-path = "/chosen";
		__overlay__ {
			bootargs = "8250.nr_uarts=1";
		};
	};

    fragment@5 {
        target = <&i2c0_pins>;
        __overlay__ {
            brcm,pins = <44 45>;
            brcm,function = <5>;
        };
    };

    fragment@6 {
        target = <&i2c0>;
        __overlay__ {
            status = "okay";
        };
    };

    fragment@7 {
        target = <&i2c1>;
        __overlay__ {
            status = "okay";
        };
    };

/*
	fragment@2 {
		target = <&spi0>;
		__overlay__ {
            status = "disabled";
            #address-cells = <1>;
            #size-cells = <0>;

 			spidev@0{
				status = "disabled";
			};

			spidev@1{
				status = "disabled";
			};

            sd0 {
                    reg = <0>;
                    compatible = "bcm2835-spi,mmc_spi";
                    voltage-ranges = <3000 3300>;
                    gpios = <&gpio 6 0>;
                    spi-max-frequency = <400000>;
                    cd-inverted;
                    status = "disabled";
            };
		};
	};
*/

	__overrides__ {
		pd =  <&projector_pd>,"default-state";
		pdo =  <&projector_pdo>,"default-state";
		led =  <&projector_led>,"default-state";
		stat1 =  <&stat1_led>,"default-state";
		stat2 =  <&stat2_led>,"default-state";
		txd1_pin = <&uart1_pins>,"brcm,pins:0";
		rxd1_pin = <&uart1_pins>,"brcm,pins:4";
		i2c0 = <&i2c0>,"status";
		i2c1 = <&i2c1>,"status";
	};
};
